<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
    <div class="logo">
        <div class="logo-box">🐟</div>
        <div>
            <h3>Fish CBIR</h3>
        </div>
    </div>
</div>

<!-- HERO SECTION -->
<div class="hero">

    <div class="hero-icon">🐟</div>

    <h1>Hi, Welcome!</h1>
    <p class="hero-sub">Fish Species Identification System</p>

    <div class="hero-card">
        <p>
            Upload an image of a fish to find the most visually similar species.
        </p>

        <a href="/upload_page">
            <button class="btn big-btn">Get Started</button>
        </a>
    </div>

</div>

</body>
</html>